{% extends "mainapp/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Employees create</h4>
        <p class="card-description"> Employee create  </p>
        <form method = "Post">
         {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputName1">Full name</label>
            {% render_field form.full_name type="text" class="form-control" id="exampleInputName1" placeholder="Enter your fullname"%}
          </div>
          <div class="form-group">
            <label for="exampleInputEmail3">Birth date</label>
            {% render_field form.birth_date type="date" class="form-control" id="exampleInputEmail3" placeholder="" %}
          </div>
          <div class="form-group">
            <label for="exampleInputCity1">Cauntry</label>
            {% render_field form.country type="text" class="form-control" id="exampleInputCity1" placeholder="Location" %}
          </div>                     
          <div class="form-group">
            <label for="exampleInputCity1">City</label>
            {% render_field form.city type="text" class="form-control" id="exampleInputCity1" placeholder="Location" %}
          </div>
          <div class="form-group">
            <label for="exampleInputCity1">Adress</label>
            {% render_field form.adress type="text" class="form-control" id="exampleInputCity1" placeholder="Location" %}
          </div>
          <div class="form-group">
            <label for="exampleInputCity1">Salary</label>
            {% render_field form.salari type="number" class="form-control" id="exampleInputCity1" placeholder="" %}
          </div>
          
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <a href="{% url 'e-table'%}" class="btn btn-dark">Cancel</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}